body {
  background: black;
}

.container {
  position: relative;
  height: 100%;
  height: 100vh;
  text-align: center
}

.moo {
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
  color: grey;
}

pre {
  border: solid 1px grey;
  background: white;
}
